{% extends "sklep/base.html" %}

{% block content %}
    <h2>Szczegóły klienta</h2>
    
    {% if customer %}
        <ul>
            <li><strong>Imię:</strong> {{ customer.name }}</li>
            <li><strong>Nazwisko:</strong> {{ customer.surname }}</li>
            <li><strong>Email:</strong> {{ customer.email }}</li>
        </ul>

        <hr>
        <form method="post">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('Czy na pewno chcesz usunąć?')">Usuń klienta</button>
        </form>
        
        <br>
        <a href="{% url 'customer-list-html' %}">Powrót do listy</a>
    {% else %}
        <p>Nie znaleziono danych klienta.</p>
    {% endif %}
{% endblock %}